# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# JWT
JWT_SECRET=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=

# Redis
REDIS_HOST=
REDIS_PORT=

# Config Server
CONFIG_USERNAME=
CONFIG_PASSWORD=
CONFIG_URL=

DB_USER= # 본인 로컬 DB 아이디
DB_PASSWORD= # 본인 로컬 DB 비밀번호

GIT_USERNAME=
GIT_TOKEN=